@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
}
.cinzel{
  font-family: "Cinzel", serif;
}
.inter{
  font-family: "Inter", serif;
}
.btnBg{
  background: linear-gradient(90.00deg, rgb(131, 93, 35),rgb(181, 129, 48) 100%);
}
.loginShadow{
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}
.img,video,canvas{
  border: 1px solid lightGray;
  border-radius: 8px;
  background-color: white;
  width: 100%;
  height: 50px;
}

@layer components {
  .orderSlidHeading{
    @apply text-3xl font-normal -mt-28 py-5 text-center text-white text-shadow-custom;
  }
  .buttonStyle{
    @apply inter text-xl text-charcoal font-medium py-2 px-5 border-b-[3px] border-b-charcoal rounded-lg hover:bg-charcoal hover:text-white transition-all duration-300 hover:shadow-lg
  }
  .formInput{
    @apply  w-full border-[1px] border-lightGray rounded-lg py-3 px-5 mt-2
  }
  .formLabel{
    @apply  text-dimGray text-xl font-medium
  }
  .dashboard-nav{
    @apply uppercase flex items-center gap-2 text-darkGray text-base font-medium mb-3 last:mb-0
  }
}
@layer utilities {
  .text-shadow-custom {
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  }
}